.Form_wrapper {
    min-height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    gap: 2rem;
    background-color: teal;

    .form_group {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-inline: auto;

        label {
            margin-block-end: .5rem;
            display: block;
            font-weight: bolder;

            sub {
                font-size: .65rem;
                color: rgb(255, 129, 129);
            }
        }

        .double_input input,
        input,
        select {
            font-size: 1.2rem;
            border: none;
            border-radius: .5rem;
            padding: .5rem;
            margin-block-end: .2rem;
            width: 100%;
        }
    }

}

.user_content {
    height: auto;
    width: 80%;
    max-width: 1200px;
    margin-block-start: 2rem;
    margin-inline: auto;

    ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-content: center;
        align-items: center;
        gap: .5rem 2rem;

        li {
            list-style-type: none;
            line-height: .75rem;
            background-color: rgb(7, 65, 52);
            border-radius: .5rem;
            padding: .75rem;
            margin-block-end: 2rem;
            cursor: pointer;

            p {
                font-size: 1.1rem;
                font-weight: bold;

                b {
                    font-size: 1.15rem;
                    color: rgb(255, 169, 129);
                }
            }


            &:nth-child(odd) {
                background-color: rgb(27, 122, 102);
            }
        }
    }
}